.agencies-list{
    height: 60%;
    width: 90%;
    margin: auto;
    padding:15px 9%;
    padding-bottom: 100px;
}

.agencies-ul-list{
    display: flex;
    flex-direction: column;
}

.grid-container{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:1rem;
}

.agency{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 10px;
    min-height: fit-content;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
}

.agency img{
    height: 90px;
}

.agency h3{
    font-size: 22px;
    padding: 1rem 0;
}

.agency a{
    display: flex;
    color: black;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    text-decoration: none;
}

.agency .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.agency .btn:hover{
    letter-spacing: 1px;
}

.agency:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

#agency-info{
    display: none;
    flex-direction: column;
    width: 80%;
    margin:auto;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
}

#agency-info img{
    margin: 1rem auto;
    height: 50%;
    width: 50%;   
}

#agency-info h3{
    font-size: 2rem;
    text-align: center;
    color: white;
    padding: 1rem;
    background-color: #333;
}

.info-text{
    display: flex;
    flex-direction: column;
    background-color: white;
    font-size: 1rem;
    word-wrap: break-word;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.info-margin{
    padding: 3rem;
    margin: 2rem;
}

.info-text p{
    text-align: center;
    font-size: 1.5rem;
}

.info-text a{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #333;
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
}

.back{
    max-width: fit-content;
    margin: auto;
}

.back:hover{
    letter-spacing: 1px;
}