.agencies-list{
    height: 60%;
    width: 90%;
    margin: auto;
    padding:15px 9%;
    padding-bottom: 100px;
}

.agencies-ul-list{
    display: flex;
    flex-direction: column;
}


.grid-container{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:1rem;
}

.agency{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 10px;
    min-height: fit-content;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
}

.agency img{
    height: 90px;
}

.agency h3{
    color:#444;
    font-size: 22px;
    padding:1rem 0;
}

.agency p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}

.agency .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.agency .btn:hover{
    letter-spacing: 1px;
}

.agency:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

#agency-info{
    display: none;
    flex-direction: column;
    padding: 2rem;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
}

#agency-info img{
    padding: 2rem;    
}

#agency-info h2{
    font-size: 3rem;
}

.info-text{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: white;
    font-size: 2rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.info-text a{
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    color: white;
    background-color: #333;
    padding: 1rem;
    border-radius: 10px;
}

.destinations{
    padding: 1rem;
}
