main{
    min-height: 90%;
}

#destinations{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    padding: 1rem;
    gap:1rem;
}

.destination-card{
    display: flex;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    max-height: 400px;
    padding: 1rem;
    border-radius: 10px;
    color: black;
    justify-content: space-evenly;
    flex-direction: column;
    text-decoration: none;
}


.new-destination p{
    text-align: center;
    margin: auto;
    font-size: 1rem;
}

.new-destination img{
    margin: auto;
    display: flex;
    align-items: center;
}

.new-destination{
    min-height: 200px;
}

.destination-card h4{
    margin: auto;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.destination-card:hover{
    cursor: pointer;
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

.destination-card a{
    margin: 0 auto;
    text-align: center;
}

.destination-card p{
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
}

.destination-card img{
    height: 50%;
    width: 50%;
    margin: 0 auto;
}

.destination-card h3{
    text-align: center;
    font-size: 1.5rem;
}

.destinations{
    width: 90%;
}

#destination-info{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
}

#destination-info h3{
    text-align: center;
    color: white;
    font-size: 2rem;
    background-color: #333;
    padding: 1rem;
    margin-bottom: 1rem;
}

#destination-info p{
    margin: 2rem;
}

#destination-info a{
    width: 20%;
    padding: 1rem;
    margin: 1rem auto;
    font-size: 1rem;
    text-decoration: none;
}

#destination-info a:hover{
    letter-spacing: 1px;
    transform: scale(1.03);
}

#photo-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: auto;
}

#photo-container img{
    height: 7rem;
    max-width: 15rem;
}

.destination-margin{
    margin: 2rem;
}

.edit-destination{
    display: none;
    background-color: white;
    max-width: 80%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid black;
}

.info-text p a{
    width: fit-content;
}

@media screen and (max-width: 768px){
    
    #destinations{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

}

@media screen and (max-width: 400px){

    #destinations{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        margin: 0;
        padding: 0;
    }

    .destination-card{
        padding: 0;
    }

}