.bg-color{
    background: linear-gradient(to right, #00b4db, #0083b0);
}
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 100%;
    color: white;
}

.title-logo{
    display: flex;
}

.title-logo img{
    max-height: 90px;
    max-width: 90px;
}

header h1{
    font-size: 2rem;
    margin-left: .5rem;
    color: white;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: .75rem;
}

.navbar-links li:hover {
    background-color: rgb(5, 176, 182);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 1.5rem;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
    }

    .toggle-button {
        display: flex;
    }

    .title-logo img{
        height: 50%;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
        position: relative;
        top: -137%;
        z-index: 1;
        background: linear-gradient(to right, #00b4db, #0083b0);
    }

    .navbar-links ul li a {
        padding: 1rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

@media screen and (max-width: 320px) {
    header h1{
        font-size: 1.8rem;
    }
    
}