*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}


body{
    height: 100vh;
    position: absolute;
    width: 100%;
}

header{
    height: 5%;
}

.main-background{
    height: 40%;
    max-width: 100%;
    background-image: url(../img/backgroud.png);
}

.modal{
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    padding: 2rem;
    z-index: 5;
}

.modal p{
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
}

.modal-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main-background h2{
    text-align: center;
    font-size: 2.5rem;
}
.main-background p{
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1.2rem;
    color: white;
    text-shadow: 2px 2px black;
}


main{
    height: fit-content;
    min-height: 50%;
    width: 100%;
    background-color: rgb(236, 244, 124);
}

main h2{
    text-align: center;
}

footer{
    height: 5%;
    text-align: center;
}

footer p{
    color: white;
    font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
    .search-options{
        flex-direction: column;
    }   
}

@media screen and (min-width: 768px) {
    .main-background p{
        font-size: 1.5rem;
    }
}