.popup-login{
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 10px;
    background-color: white;
    z-index: 3;
    border: 1px solid black;
    justify-content: center;
    margin: auto;
}

.popup-login button{
    display: flex;
    justify-content: center;
}

.register-width{
    width: 300px;
}

.login-width{
    width: 250px;
}

.login-error{
    display: none;
    color: red;
    text-align: center;
}

.popup-btn{
    padding: 0.5rem;
    text-align: center;
    background-color: #333;
    color: white;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
}

.popup-login form input{
    float: right;
}

.popup-login form input[type = "date"]{
    width: 54%;
}

.popup-login form{
    padding-bottom: 1rem;
}

.popup-login form h2{
    padding-top: 2rem;
}



@media screen and (max-height: 800px){
    .popup-login{
        top: 65%;
    }
}