.popup-login{
    position: relative;
    display: none;
    width: 250px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 10px;
    background-color: white;
    z-index: 2;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
}


.popup-login form input[type="text"], .popup-login form input[type="password"]{
    padding: 0.25rem;
}

.popup-login form{
    padding-bottom: 1rem;
}

.popup-login form h2{
    padding-top: 2rem;
}

.popup-login form input[type="submit"]{
    display: flex;
    padding: 0.5rem;
    margin: auto;
}