.table-title{
    background-color: #333;
    padding: 1rem;
    color:white;
}

.table-overflow{
    max-width: 80%;
    padding: 1rem;
    margin: auto;
    overflow-x: scroll;
}

.table-layout{
    margin: auto;
    table-layout: fixed;
}

.table-layout, th, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
}

.table-layoutth, tr{
    padding: 0.5rem;
}

.table-layout thead{
    color:white;
    background: linear-gradient(to right, #00b4db, #0083b0);
}

.table-layout tbody:nth-child(even){
    background-color: white;
}

.options{
    display:flex;
    margin: auto;
    justify-content: space-evenly;
    color: white;
    padding: 1rem;
    width: 20%;
}

.options p{
    cursor: pointer;
    padding: 1rem;
    background-color: #333;
}

@media (min-width: 1350px) {
    .table-overflow{
        overflow-x: hidden;
    }
    
}